<h1>Tasks#index</h1>

<ul>
  <% @tasks.each do |t| %>
    <li>
      <ul>
        <% t.each do |k, v| %>
          <li><%= k %> : <%= v.inspect %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>


