<nav>
  <div class="contents">
    <%= form_for @user, url: '/users/setting' do |u| %>
      <hr>
      <section class="phone_number">
        <div class="merry">
          <div class="bubble question">
            <div class="message">電話番号を変更するのね。教えてくれる？</div>
          </div>
        </div>
        <div class="me">
          <div class="bubble answer">
            <%= u.telephone_field :phone_number %>でお願い。
          </div>
        </div>
      </section>
      <hr>
      <section class="distance">
        <div class="merry">
          <div class="bubble question">
            <div class="message">これでOK？</div>
          </div>
        </div>
        <div class="me">
          <div class="bubble answer">
            <%= u.submit 'OK!!!' %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</nav>
