<h1>Signin#index</h1>
<% flash.each do |k, v| %>
  <%= content_tag(:div, v, class: k) %>
<% end %>
<%= form_tag '/signin/auth', method: :post do %>
  <%= text_field_tag 'space_id' %>
  <%= submit_tag 'Sign in' %>
<% end %>
