// Place all the styles related to the signin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alert {
  background-color: #fcf;
  text-align: left;
  padding: 5px;
  width: 80% auto;
  margin: 20px 0;
}
