// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "UTF-8";
/* CSS Document */

section,article,aside,nav,hgroup,header,footer { display:block;}

.clearfix {zoom:1;}
.clearfix:after { content: ""; display: block; clear: both;}

* { margin: 0; padding: 0;}
body { margin: 0; padding: 0;}
h1,h2,h3,h4,h5 { margin: 0; padding:0; font-weight:normal; font-size: 100%;}
ul,li { margin: 0; padding: 0; list-style: none;}
dl,dt,dd,p { margin: 0; padding: 0;}
img { border: 0; vertical-align: text-bottom;}

html {
  width: 100%;
  height: 100%;
  background: image-url("bg.gif") repeat;
}
body {
  width: 100%;
  height: 100%;
  // background: image-url("bg_bottom.gif") repeat-x center bottom;
}


#wrap {
  padding: 40px 0;
}

h1 {
  text-align: center;
}

@mixin page($width) {
  width: $width;
  margin: 20px auto;
}

nav .contents {
  @include page(320px);
}

nav ul {
  @include page(290px);

  li {
    float: left;
    margin: 0 10px 10px 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
    a {
      display: block;
      border: #111 3px solid;
      border-radius: 3px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      box-shadow: 0 3px 0 #ccc;
      background: #fff;
      width: 64px;
      height: 64px;
      padding: 10px;
      font-size:14px;
      font-weight: bold;
    }
  }
}

.signin {
  text-align: center;
}

.merry {
  margin: 5px 10px;
}
.me {
  margin: 5px 10px;
  text-align: right;
}
$q_color : #fcf;
$a_color : #3cf;
.bubble {
  display: inline-block;
  position: relative;
  padding: 1em;
  border-radius: 5px;
  
  &:after {
    position: absolute;
    content: " ";
    height: 0;
    width: 0;
  }
}
.question {
  background: $q_color;
  &:after {
    right: 100%;
    top: 10%;
    border-top: 10px solid $q_color;
    border-left: 10px solid transparent;
  }
}
.answer {
  background: $a_color;
  &:after {
    left: 100%;
    top: 10%;
    border-top: 10px solid $a_color;
    border-right: 10px solid transparent;
  }
}
