// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "UTF-8";
/* CSS Document */

section,article,aside,nav,hgroup,header,footer { display:block;}

.clearfix {zoom:1;}
.clearfix:after { content: ""; display: block; clear: both;}

* { margin: 0; padding: 0;}
body { margin: 0; padding: 0;}
h1,h2,h3,h4,h5 { margin: 0; padding:0; font-weight:normal; font-size: 100%;}
ul,li { margin: 0; padding: 0; list-style: none;}
dl,dt,dd,p { margin: 0; padding: 0;}
img { border: 0; vertical-align: text-bottom;}

html,body {
  height: 100%;
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Arial, Verdana, sans-serif;
  background: #a1edcd image-url("bg.gif") repeat;
}

#wrap {
  width: 320px;
  height: 100%;
  margin: 0 auto;
}

#top {
  width: 320px;
  height: 100%;
  min-height: 100%;
  background: image-url("top_illust.png") no-repeat bottom center;
  background-size: contain;
  margin: 0 auto;

  h1 {
    text-align: center;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  nav {
    ul {
      width: 290px;
      margin: 0 auto;

      li {
        float: left;
        margin: 0 10px 10px 0;

        a {
          display: block;
          border: #111 3px solid;
          border-radius: 3px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          box-shadow: 0 3px 0 rgba(0,0,0,0.2);
          background: #fff;
          width: 64px;
          height: 64px;
          padding: 10px;
          font-size:14px;
          font-weight: bold;
          text-decoration: none;
          text-align: center;
          color: #000;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }

    ul.task li {
      a {
        background: #00aef6;
        color: #fff;
        font-size:18px;
        padding: 20px 10px 0;
      }

      a.today {
        background: #f63;
      }
    }
  }
}

nav.header-nav {
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  background: #29ca87 image-url("nav_logo.png") no-repeat center center;
  background-size: contain;
  position: fixed;
    width: 320px;
    height: 42px;
    top: 0;
    z-index: 99;
}

#contents {
  padding-top: 42px;
  padding-bottom: 80px;

  dl {
    margin: 14px 10px;
    font-size: 90%;
  }
}

.bubble {
  position: relative;
  display: inline-block;
  padding: 12px 15px;
  width: auto;
  max-width: 200px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
  z-index: 0;

  input[type="submit"] {
    background: #000;
    border: 0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.2);
    font-weight: bold;
    font-size: 100%;
  }
}

.question {
  dt {
    float: left;
    padding-right: 12px;
  }

  dd {
    float: left;
  }

  .bubble {
    &:before {
      content: "";
      position: absolute;
      top: 25px;
      left: -8px;
      margin-top: -9px;
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 7px 9px 7px 0px;
      border-color: transparent #fff transparent transparent;
      z-index: 0;
    }
    &:after {
      content: "";
      position: absolute;
      top: 25px;
      left: -12px;
      margin-top: -10px;
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 8px 10px 8px 0px;
      border-color: transparent #000 transparent transparent;
      z-index: -1;
    }
  }
}
.answer {
  dt {
    float: right;
    padding-left: 12px;
  }

  dd {
    float: right;
  }

  .bubble {
    &:before {
      content: "";
      position: absolute;
      top: 25px;
      right: -8px;
      margin-top: -9px;
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 7px 0px 7px 9px;
      border-color: transparent transparent transparent #fff;
      z-index: 0;
    }
    &:after {
      content: "";
      position: absolute;
      top: 25px;
      right: -12px;
      margin-top: -10px;
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 8px 0px 8px 10px;
      border-color: transparent transparent transparent #000;
      z-index: -1;
    }
  }
}

